.step5-content {
    margin-top: 20px; 
}

.form {
    margin: 20px 0px;
}

.border-row {
    border: 1px solid #dedbdb;
    border-radius: 10px;
    padding: 10px;    
}

.full-width .ant-form-item-label{
    width: 25% !important;
}

.full-width-duration .ant-form-item-label{
    width: 40% !important;
}

.full-width-duration .ant-form-item-control-wrapper{
    width: 50px;
}

.close:hover {
    cursor: pointer;
}

.scroll {
    overflow-y: scroll;
    height: 350px;
}

.steps-content {
    margin-top: 20px; 
}

.duration .ant-form-item-label{
    padding-left: 15px; 
}

.duration .ant-form-item-control-wrapper {
    padding-left: 25px; 
}

.description {
    margin-bottom: 10px;
}

.font-description {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif
}

.ant-input-number-disabled {
    border-color: white;
}

.ant-input-number-input {
    background-color: white;
    color: black;
}

