.msg-header {
    margin-bottom: 10px;
    border-bottom: 1px solid #c7c6c6;
    padding-bottom: 15px;    
}

.center {
    text-align: center !important;
}

.left {
    text-align: left !important;
}

.wide {
    width: 100%;
}