.breadcrumb {
    padding: 12px;
    border-top: 1px solid rgb(195, 194, 194);
    border-bottom: 1px solid rgb(195, 194, 194);
    background-color: rgb(255, 255, 255);
}

.top {
    margin-top: 40px;
}

.ant-form-item-label {
    text-align: left !important;
    width: inherit !important;
}

.white a, .ant-btn-link {
    color: #007bff;
}

.ant-layout-content {
    /*padding: 50px;*/
}

.image img{
    max-height: 300px;
}

.detail-content {
    padding: 150px 50px;    
}

.ant-tabs-tab {
    margin-right: 8px !important;
}

.line-height{
    line-height: 50px;
}