.search .ant-layout .ant-layout-header {
  background: none; }

.ant-layout-sider-dark {
  background: none; 
}

.sticky {
  position: fixed;
  top: 0;
  width: 100%;
}

.white a, .white .ant-btn-link {
  color: #007bff;
}

