.main-content {
    padding: 10px 25px 10px
}

.gray {
    background-color: #f7f7f7; 
}

.lead {
    text-align: center;
}

.lead h2 {
    margin: 20px 0;
    font-size: 32px;
    letter-spacing: -1px;
    font-weight: 500;
    color: #003448;
    text-align: center;
}

.lead p {
    color: #555;
    padding: 0 15px;
    font: 400 20px/28px Circular,Helvetica,Roboto,Arial,sans-serif;
    font-size: 18px;
    line-height: 34px;
    letter-spacing: 1px;
}

.container {
    margin: auto;
}

@media (min-width: 1200px){
    .container {
        width: 1170px;
    }
}

#logo {
    width: 80px;
}

.section1 {
    background-image: url(https://retreat-app.s3.us-east-2.amazonaws.com/contact/contactus.jpg);
    background-position: 0 60%;
    background-size: cover;
    height: 500px;
    margin-top: 20px;    
    
}

.section1 .main,
.section2 .main {
    width: 70%;
    margin-left: auto;    
    margin-right: auto;    
}

.dark {
    background-color: #5d7894;
}

.section1 .main h1 {
    color: #003448;
}

.container h2 {
    font-size: 32px;
    letter-spacing: -1px;
    font-weight: 500;
    color: #003448;
}

.container h4 {
    font-size: 20px;
    letter-spacing: -1px;
    font-weight: 500;
    color: #003448;
}

.gray {
    background-color: #f6f6f6;
}

.wide-label .ant-form-item-label{
    width: 200px !important;
}

.wide-label .ant-form-item-label label{
    color: #134e71;
    letter-spacing: 1px;
}

.bottom-form h1 {
    text-align: center;
    font-size: 2.0rem;
    line-height: 49px;
    font-family: Open Sans,sans-serif;
    font-weight: 700;
    color: #4e83a2;    
}

.space-top {
    margin-top: 50px;
}

.section1 .main h1,
.section2 .main h1 {    
    text-align: center;
    font-size: 2.5rem;
    line-height: 49px;
    font-family: Open Sans,sans-serif;
    font-weight: 700;
}

.section2 .main h1 {
    color: #599a67
}

.section1 .main .content,
.section2 .main .content {
    width: 85%;
    margin: auto;
    text-align: center;
    color: #05080e;
    font-size: 1.5rem;
    line-height: 40px;
    font-family: Open Sans,sans-serif;
    font-weight: 500;
    letter-spacing: 1px;
}

.section1 .main .register,
.section2 .main .register {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 50px;
}

.space-padding-top {
    padding-top: 50px;
}

.section1 .main .register .custom,
.lead .register .custom,
.section2 .main .register .custom {
    background: #faaf40;
}

.section1 .main .register .custom a,
.lead .register .custom a,
.section2 .main .register .custom a {
    color: white;
    font-weight: 500;
    font-family: Open Sans,sans-serif;
}

.bottom-form {
    width: 50%;
    margin: auto;
}

.contact-form {
    padding: 0px 50px;
}

.contact-form {
    padding: 25px;
    border: 1px solid #dad0d0;
    border-radius: 10px;        
}

.img-container article .img {
    transform-origin: center;
    transform: scale3d(.6,.6,.6);
}

.img-container article .img .animate {
    height: 160px;
    position: relative;
}

.img-container article .img .animate img:first-child {
    width: 80px;
    top: 0;
    left: 50px;
    z-index: 2;
}

.lead h2 {
    letter-spacing: 0.8px;
}

.lead h4 {
    letter-spacing: 1px;
}

.img-container article .img .animate img:nth-child(2) {
    width: 80px;
    top: 10px;
    left: 110px;
    z-index: 2;
}

.img-container article .img .animate img:nth-child(3) {
    width: 100px;
    bottom: 0;
    left: 0;
    z-index: 1;
}

.img-container article .img .animate img:nth-child(4) {
    width: 100px;
    bottom: 0;
    left: 150px;
    z-index: 1;
}

.img-container article .img .animate img:nth-child(5) {
    width: auto;
    height: 4px;
    bottom: 54px;
    left: 100px;
}

.img-container.beta article p {
    font-size: 22px;
    line-height: 32px;
    color: #003448;
    letter-spacing: -.5px;
}

.img-container article .img .animate img {
    /*opacity: 0;*/
    position: absolute;
    height: auto;
}

.wide p {
    width: 300px;
}

.wide .img {
    padding-top: 20px;
}

.space-top-bottom {
    padding: 20px 0;
}

.space-bottom {
    padding: 35px;
}