* {
    font-family: sans-serif;
    color: #232323;
}

.App {
    margin: 2rem;
}

.margin-top-bottom-50 {
    margin: 50px 0;
}

.item-list h2, h4 {
    text-align: center;
}

.img-container {
    position: relative;
    text-align: center;
}

.centered {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.fancy-text {
    color: white;
    font-size: 22px;
    font-weight: bold;
    text-decoration: none;    
}

.centered a:hover {
    text-decoration: none;
    color: blanchedalmond
}

.offset-ssm-1 {
    margin-left: 2%;
}

.container {
    max-width: 1280px;
}

