.step7-content {
    margin-top: 20px; 
}

.pic .ant-form-item-label{
    width: 110px !important;
}

.description {
    margin-bottom: 10px;
}

.font-description {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif
}

.upload-image {
    border-radius: 5px;
    width: 60%;
}

.step7-content .ant-upload-list-item-card-actions  {
    right: 50;
}
