.down-30 {
    padding-top: 30px;
}

.header {
    padding-top: 30px;
}

.down-35 {
    padding-top: 35px;
}

.hiddent {
    display: none;
}

.ant-btn-link {
    color: #007bff;
    font-size: 1rem;
    font-weight: 400;
}