.slider-section {
    background-image: var(--background-home-image);
    background-position: 0 60%;
    background-size: cover;
    height: 500px;
    margin-top: 20px;    
    
}

.slider-section h2 {
    padding: 50px 50px 0;
}

.slider-section .search-witget{
    width: 65%;
}

@media only screen and (min-width: 768px) {
    .slider-section .search-witget{
        width: 70%;
    }
}

.slider-section .search-witget{
    /*opacity: 0.7; */
    margin-left: auto;
    margin-right: auto;   
    /*padding-top: 100px;*/
    /*background-color: #afa8a8;
    border-radius: 5px; */
}

.slider-section1 {
    padding-top: 0px; 
}

.top-space {
    padding-top: 200px; 
}

.search-witget-content {
    min-height:300px;
}

.search-witget-content-tab {
    min-height: 300px;
    padding: 20px;
}

.search-witget-content h3 {
    color: white;
}

.ant-calendar-picker-input {
    height: 35px !important;
}

.ant-btn-default {
    height: 35px !important;
}

#country > *:first-child,
#duration > *:first-child {
    width: 100px;
}

#category > *:first-child {
    width: 140px;
}

#subcategory > *:first-child {
    width: 140px;
}

#subcategory > *:first-child span {
    margin-left: -5px;
}

#subcategory > *:first-child span, 
#category > *:first-child span,
#country > *:first-child span,
#duration > *:first-child span
{
    color: rgb(119 105 105) !important;
}

.ant-calendar-picker-input::-webkit-input-placeholder {
    color: rgb(119 105 105) !important;
}
