.down-30 {
    padding-top: 30px;
}

.header {
    background-image: url('/images/rymlogo-main.png');
}

.down-35 {
    padding-top: 35px;
}

.hiddent {
    display: none;
}

.ant-btn-link {
    color: #007bff;
    font-size: 1rem;
    font-weight: 400;
}

.white a, .white .ant-btn-link{
    color: #ffffff;
}

.header-right {
    float: right;
}

.fixed .header {
    padding-left: 30px; 
}

.fixed .down-35 {
    padding-top: 25px;
}

.fixed .white a, 
.fixed .ant-btn-link {
    color: #007bff;
}

.fixed #logo {
    width: 90px;
    transition: all .3s ease
}

#logo{
    width: 200px;
    transition: all .3s ease
}