.footer h4 {
    font-size: 16px;
}

.footer a {
    font-weight: 450;
    font-size: 14px;
}

.footer {
    min-height: 180px;
}

.gray {
    background-color: #e4e3e3;
}

.vertical-space {
    position: relative;
    top: -25px;
}